$text-color-light: white;
$text-color-dark: black;
$text-color-active: #dba919;

$nav-bar-color: #2c3e50;

$background-color-light: #ecedee;
$background-color-index-light: #00aeef;
$background-color-index-dark: #096fb9;
$background-color-project-light: #8f94fb;
$background-color-project-dark: #4e54c8;

$box-shadow-out: rgba(13, 78, 158, 0.6);
$box-shadow-in: rgba(0, 0, 0, 0.09);
$box-shadow-project: rgba(0, 0, 0, 0.5);
