.port-navbar.port-default {
  width: 100%;
  z-index: 15;
  padding: 30px;

  @media (max-width: 390px) {
    padding: 20px;
  }

  &.with-bg {
    background-color: $nav-bar-color;

    @media (max-width: 390px) {
      padding: 20px;
    }
  }

  &.transparent {
    &.is-open {
      background-color: $nav-bar-color;
    }

    &.is-close {
      transition: 1s;
    }
  }

  .port-navbar {
    &-brand {
      color: $text-color-light;
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      font-weight: bold;
    }

    &-item {
      margin-left: 10px;
      margin-right: 10px;
    }

    &-link {
      color: $text-color-light;
      font-weight: bold;
      letter-spacing: 0.8px;
      font-size: 18px;
      text-transform: uppercase;

      &.active {
        color: $text-color-active;
      }

      &:hover,
      &:focus {
        color: $text-color-active;
      }
    }

    &-social {
      margin: 8px 0px 8px 10px;
      min-width: fit-content;
    }
  }

  .port-dropdown-menu {
    .dropdown-item {
      &:active {
        background-color: $background-color-light;
      }

      &:hover {
        background-color: $background-color-light;
      }
    }

    .port-dropdown-item {
      color: $nav-bar-color;
    }

    .port-dropdown-toggle {
      color: $text-color-light;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
